nav ul {
	list-style-type: none;
}

nav ul li {

	float: left;
	font-size: 30px;
	margin-bottom: 50px;
	margin-right: 20px;
	padding: 10px;
	border: 1px solid gray;
	border-radius: 10px;
}

.crnt-navbar-item {

	background-color: gray;
}

nav ul li:hover {

	background-color: gray;
}

h1 {

	clear: both;
}

a {
	color: black;
	text-decoration: none;
}