 <!DOCTYPE html>
<html>
<head>
	<title>Image Saver</title>
	<link rel="stylesheet" type="text/css" href="/./styles/styles.css">
	<link rel="icon" href="/./favicon.ico" type="image/x-icon"/>
</head>

<nav>
	<ul>
		<li><a href="/home">HOME</a></li>
		<li class="crnt-navbar-item"><a href="/about">ABOUT</a></li>
	</ul>
</nav>

<body>
	<h1>About this app</h1>
	<p>This website is created as a homework task for "Telerik School Academy". It has
		no styles, as it has been written as a practise task for node.js
	</p>
</body>
</html>