 <!DOCTYPE html>
<html>
<head>
	<title>Image Saver</title>
	<link rel="stylesheet" type="text/css" href="/./styles/styles.css">
	<link rel="icon" href="/./favicon.ico" type="image/x-icon"/>
</head>
<body>

	<nav>
		<ul>
			<li class="crnt-navbar-item"><a href="/home">HOME</a></li>
			<li><a href="/about">ABOUT</a></li>
		</ul>
	</nav>

	<form method="post" action="/upload" enctype="multipart/form-data">
		<h1>Upload Images and send them to your friends!</h1>
		<label for="upload-file">Browse your desired file to upload it</label>
		<br>
		<input type="file" name="uppload-file">
		<input type="submit">
	</form>
</body>
</html>