body {
	width: 100%;
	overflow: hidden;
}

.image-holder {
	margin-top: 12px;
	width: 99%;
	height: 460px;
	background-image: url(http://www.samsung.com/bg/img/MainKV.jpg);
	background-position: 20% 0%;
}

.phoneimg {
	float: left;
}

div.label.label-primary {
	margin-left: 20px;
}

button {
	margin-left: 20px;
}

img.phoneimg {
	max-width: 300px;
	max-height: 300px;
}
div.img {
	width: 300px;
	height: 300px;
	float: left;
}