body {
	font-family:Tahoma;
	}
table {
	width:600px;
	height:630px;
	}
.float {
	float:right;
	}
input[type=text] {
	width:97%;
	position:relative;
	left:3px;
	}
input[type=email] {
	width:97%;
	}
#address {
	height:50px;
	}
textarea {
	width:97%;
	height:93%;
	}
#contenta:before {
	content:"{+";
	}
#contenta:after {
	content:"}";
	}
#contentb:after {
	content:" -";
	font-weight:bolder;
	}
#end {
	text-align:center;
	}
#cc, #ac {
	width:50px;
	}
#tel {
	width:60%;
	}
#city {
	width:60%;
	}
#state {
	width:25%;
	}
#comments {
	height:125px;
	}
#end {
	background-color:lightblue;
	}