<div class="jumbotron" ng-controller="UserController">
  <h1>Hello, MEAN!</h1>
  <p ng-hide="show">{{more}}</p>
  <p ng-show="show">
  		I created this single page application using the MEAN stack (MongoDB + Express.js + Angular.js + Node.js) as
  	a homework task for "Telerik School Academy 2014". This is the first time I write an app with the MEAN stack and try to 
  	arrange all the files where they need to be at the same time, creating a neat structure. At first I found it difficult to go through all those folders and files, but after a couple of hours I found that it helped me a lot and I stopped losing track of where I wrote something. Debugging is super easy for me with MEAN, not that I wrote something too large, but still.
  </p>
  <p><a class="btn btn-primary btn-lg" role="button" ng-click="toggleShow()">{{button}}</a></p>
</div>